* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
}

/*Header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1e3a5f;
  color: white;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-container img {
  width: 50px;
  height: auto;
}

.logo-container h1 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  white-space: nowrap;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.img_logo {
  max-width: 40px;
  max-height: 40px;
  border-radius: 4px;
  align-items: center;
}

.nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.search-bar {
  display: flex;
  margin: 5px 0;
}

.search-bar input {
  padding: 5px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  border: none;
  background: #0d6efd;
  color: white;
  padding: 5px 10px;
  border-radius: 0 4px 4px 0;
}

.cart {
  font-size: 1.2rem;
  cursor: pointer;
}
.cart-container {
  position: relative;
  display: inline-block;
}

#cart-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

#cart-count {
  background: white;
  color: black;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 14px;
  position: relative;
  top: -10px;
  right: 5px;
}

#cart-dropdown {
  position: absolute;
  right: 0;
  top: 40px;
  width: 320px;
  background: #1e3a5f;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 15px;
  z-index: 100;
}

#cart-dropdown.hidden {
  display: none;
}

#cart-items {
  max-height: 300px;
  overflow-y: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ddd;
  padding: 8px 0;
}

.cart-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
  flex-shrink: 0;
}

.cart-item-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: 0.9rem;
  color: white;
  gap: 3px;
}

.cart-item-info {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
}

.cart-item-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-item-controls button {
  background: #ddd;
  border: none;
  padding: 4px 6px;
  cursor: pointer;
  border-radius: 5px;
}

.cart-total {
  padding: 10px;
  text-align: right;
  font-size: 1.1rem;
  font-weight: bold;
  border-top: 1px solid #ccc;
}

#checkout-btn {
  width: 100%;
  padding: 10px;
  background: #28a745;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#checkout-btn:hover {
  background: #218838;
}

/*Layout*/
.main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

/*Sidebar*/
.filters {
  flex: 1;
  background: #1e3a5f;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.filters h3 {
  margin-bottom: 10px;
  color: white;
}

.filters label {
  display: block;
  margin-top: 10px;
  color: white;
}

.filters input,
.filters select,
.filters button {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
}

input[type='range'] {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 6px;
  background: linear-gradient(to right, #094293, #0d6efd);
  border-radius: 5px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -5px;
}

.aside-images img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
  object-fit: cover;
}

#apply-filters {
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #28a745;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

/*Productos*/
.products {
  flex: 4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-card {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
}

.product-card:hover {
  transform: scale(1.03);
}

.product-card img {
  width: 100%;
  display: block;
  height: 400px;
  aspect-ratio: 16/9;
  object-fit: contain;
  border-radius: 8px;
}

.product-info {
  padding: 10px;
  flex-grow: 1;
}

.product-info h4 {
  font-size: 1.1rem;
  margin-bottom: 5px;
  margin-top: 5px;
  justify-content: center;
}

.price {
  font-weight: bold;
  color: #0d6efd;
  font-size: 1.2rem;
}

.buy-btn {
  display: block;
  background: #0d6efd;
  color: white;
  padding: 8px;
  border-radius: 2px;
  border-color: #094293;
  text-align: center;
  text-decoration: none;
  margin-top: 10px;
}

.buy-btn:hover {
  background: #094293;
}

/*Footer*/
.footer {
  background-color: #1e3a5f;
  color: white;
  padding: 40px 20px;
  font-size: 14px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 10px;
  color: white;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
  color: #0d6efd;
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.social-icons img:hover {
  transform: scale(1.1);
}

.social-icons a img {
  width: 24px;
  transition: transform 0.2 ease;
  filter: brightness(0) invert(1);
}

.footer-bottom {
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid white;
  padding-top: 15px;
}

.footer-bottom a {
  color: #f1f1f1;
  margin: 0 10px;
  text-decoration: none;
}

/*Responsive*/
@media (max-width: 992px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .filters {
    order: -1;
  }
}
